#about{
    text-align: justify;
    margin: 2em 10em;
    font-size: 1.2em;
}

section h2{
    text-align: center;
}

.article{
    display: flex;
    height: fit-content;
    width: fit-content;
    margin: 150px 10px;
    gap: 35px;
    padding: 15px;
    border-radius: 15px;
    align-items: center;
    background-color: rgba(47, 47, 47, 0.5);
}

.article img{
    width: 20%;
    height: auto;
}

.article img:nth-child(1){
    width: 15%;
}