
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    gap: 12px;
    background-color: rgb(20,20,20);
    
    position: sticky;
    top: 0;
}

.navbar a{
    text-decoration: none;
}

.home-icon {
    filter: invert();
    width: 50px;
    height: 50px;
}

.home-text {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
}

.navbar-left a{
    display: flex;
    width: fit-content;
    gap: 12px;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.home-text:hover {
    color: #aaa;
}

.navbar-right a{
    margin-left: 24px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.2s ease;
    display: flex;
    gap: 24px;
    align-items: center;
}

.navbar-right a:hover {
    color: #aaa;
}
