.hero{
    display: flex;
    flex-direction: column;

    height: fit-content;
    justify-content: center;
    align-items: center;
}

.hero h1{
    margin-top: 2em;
    font-size: 5em;
    margin-bottom: 20px;
}

.hero h2{
    margin-top: 0;
    font-size: 2em;
}

/* Nav */
nav{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 20%;
    font-size: 1.5em;
}

nav a{
    text-decoration: none;
    color: var(--text-color);

}

nav a:hover{
    transform: scale(1.05);
    color: #d7d7d7;
}